# Dependências
node_modules/
.pnpm/
.yarn/
dist/
dist-ssr/
*.local

# Logs e configurações
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variáveis de ambiente
.env
.env.*
!.env.example

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
Thumbs.db