/* src/components/Layout/Layout.module.css */

.layout {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
}

/* Novo wrapper para o conteúdo principal e o cabeçalho */
.contentWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left var(--transition-speed);
}

.mainContent {
  flex-grow: 1;
  padding: var(--spacing-xl);
}

.overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (min-width: 769px) {
  .contentWrapper {
    margin-left: 250px; 
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    margin-left: 0;
  }
  .overlay {
    display: block;
  }
}
